<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="/index.css">
    </head>
<body>
<nav>
    <h2>Congratulations...</h2>
    <ul>
         <li><a href="/">Home</a></li>
        <li><a href="/admin_registration">Admin Registration</a></li>
        <li><a href="/admin_login">Admin Login</a></li>
         <li><a href="/sell">Sell</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
<h1>Payment done and order placed... </h1>
</body>
</html>